[submodule "hed"]
	path = hed
	url = https://github.com/42dotmk/hed
[submodule "hterm"]
	path = hterm
	url = https://github.com/42dotmk/hterm
[submodule "hwm"]
	path = hwm
	url = https://github.com/42dotmk/hwm
[submodule "hws"]
	path = hws
	url = https://github.com/42dotmk/hws
[submodule "htray"]
	path = htray
	url = https://github.com/42dotmk/htray
[submodule "hnd"]
	path = hnd
	url = https://github.com/42dotmk/hnd
[submodule "hmenu"]
	path = hmenu
	url = https://github.com/42dotmk/hmenu
[submodule "hsm"]
	path = hsm
	url = https://github.com/42dotmk/hsm
[submodule "hml"]
	path = hml
	url = https://github.com/42dotmk/hml
[submodule "hstt"]
	path = hstt
	url = https://github.com/42dotmk/hstt
[submodule "hweb"]
	path = hweb
	url = https://github.com/42dotmk/hweb
[submodule "hbg"]
	path = hbg
	url = https://github.com/42dotmk/hbg
[submodule "hos"]
	path = hos
	url = https://github.com/42dotmk/hos
